body,html{
      margin:0;
      padding:0;
}
#main{
      margin:20px auto;
      width:260px;
}
#calc{
      margin-left:52px;
      width:60px;
}
input{
      margin:5px 0;

}
span{
    color:red;
    margin-left:5px,

}
#width-validata,#height-validata{
    margin-left:52px;
    color:red;

}
